body {
      background: white; 
    font-family: 'Red Hat Display', sans- serif;
}
h1 {
    Color : purple;
    background-color : #FFD700 ;
}
img {
    max-width : 100%;
}
h1
{text-align: right;
    font-weight: 900;
    text-decoration: underline;
    font-size: 2em;
    Color: 
}